<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.PDF" version="20.1.0" targetFramework="net461" />
  <package id="Iron.Assets.Rendering.Windows" version="17.0.0" targetFramework="net461" />
  <package id="IronPdf" version="2020.3.1.1" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
</packages>